body {
  background-color: #333;
  color: white;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  height: 100vh;
}
#infoBar {
  border-bottom: 1px solid #555;
  padding: 5px;
  display: flex;
  gap: 10px;
}
.control-group {
  display: flex;
  align-items: center;
}
#infoBar > span.title {
  font-size: 30px;
  flex: 1;
}
#canvasContainer {
  flex: 1;
  overflow: hidden;
  position: relative;
}
#simulationCanvas {
  background: black;
}
#infoMenu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background: #666c;
  text-align: right;
  white-space: pre-wrap;
  display: none;
}
